if [ -f ~/.aliases.private ]; then source ~/.aliases.private; fi

# dotfiles
alias update-dotfiles='curl https://raw.githubusercontent.com/mikeadmire/dotfiles/master/install.sh -o - | sh'
alias update-dotvim='curl https://raw.githubusercontent.com/mikeadmire/dotvim/master/install.sh -o - | sh'
alias cleanup-dotfiles='rm .*.????????-??????; rm -rf dotfiles.????????-??????'

# General
alias la='ls -la'

# Git
alias ga='git add .'
alias gco='git checkout'
alias gb='git branch'
alias gba='git branch -a'
alias gc='git commit -v'
alias gd='git diff | vim'
alias gl='git pull'
alias gp='git push'
alias gst='git status'

# Kubernetes
alias k="kubectl"
alias kx="kubectx"
alias pf-prom="kubectl --namespace prometheus port-forward deploy/prometheus-server 9090"
alias pf-graf="kubectl --namespace grafana port-forward deploy/grafana 3000"
