if [ -f ~/.aliases.private ]; then source ~/.aliases.private; fi

# dotfiles
alias update-dotfiles='curl https://raw.githubusercontent.com/mikeadmire/dotfiles/master/install.sh -o - | sh'
alias update-dotvim='curl https://raw.githubusercontent.com/mikeadmire/dotvim/master/install.sh -o - | sh'
alias cleanup-dotfiles='rm .*.????????-??????; rm -rf dotfiles.????????-??????'

# General
alias la='ls -la'

# Git
alias ga='git add .'
alias gco='git checkout'
alias gb='git branch'
alias gba='git branch -a'
alias gc='git commit -v'
alias gd='git diff | vim'
alias gl='git pull'
alias gp='git push'
alias gst='git status'

# Kubernetes
alias k="kubectl"
alias kx="kubectx"
alias kpf-kafka="kubectl port-forward svc/kafka-service 9092:9092 -n kafka"
alias kpf-zk="kubectl port-forward svc/zookeeper-service 2181:2181 -n kafka"
alias kpf-influx="kubectl port-forward svc/influxdb 8086:8086 -n influxdb"

# Ruby & Rails
alias rs="rails server -b 0.0.0.0"
