[user]
    name = Mike Admire
    email = mikeadmire@gmail.com
[push]
    default = simple
[core]
    excludesfile = /Users/mike/.gitignore_global
    autocrlf = input
[url "git@github.com:"]
    insteadOf = https://github.com/
